.App {
  padding: 0 50px;
}

.search {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

@media (max-width: 350px) {
  .search {
    flex-direction: column;
    gap: 10px;
  }
}
