.root {
  display: flex;
  gap: 12px;
  // height: 40px;
  height: 3.7vw;
  padding: 0 12px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e0e3ee;
  background: #f4f5f9;
}

.item {
  cursor: pointer;
}

.item p {
  color: #969dc3;
  font-family: Rubik;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.active {
  color: #2d3b87;
  font-family: Rubik;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}
